.adder {
	position: fixed;
	right: remCalc( 36 );
	bottom: remCalc( 45 );

	display: block;
	width: remCalc( 75 );
	height: remCalc( 75 );

	border-radius: 50%;
	background-color: $purpleLig;
	box-shadow: 0 0 remCalc( 50 ) 0 rgba( 0, 0, 0, .75 );

	cursor: pointer;
	z-index: 1000;

	@include simpleTransition;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		background-color: white;
		transform: translate( -50%, -50% );
	}

	&:before {
		width: remCalc( 2 );
		height: remCalc( 25 );
	}
	
	&:after {
		width: remCalc( 25 );
		height: remCalc( 2 );
	}	

	&:hover { 
		background-color: $purpleViv;
	}
}